@use "../../styles/mixins";

article.content {
	// Increase the font size in the rulebook for ease of reading.
	font-size: 1.2em;

	// On desktop devices, limit the rulebook width to 65 characters (ideal for reading).
	@include mixins.is-not-mobile using ($is-not-mobile) {
		@if $is-not-mobile {
			// Create a three-column display (only the middle will be used).
			display: grid;
			grid-template-columns: 1fr min(65ch, 100%) 1fr;

			// Put all elements in the middle column.
			& > * {
				grid-column: 2;
				overflow: auto hidden;
			}
		}
	}
}
