@use "../../styles/mixins";
@use "../../styles/blob.module.scss";

// Rulebook contents.
article.content {
	font-size: 1.2em;

	// Update rulebook form.
	& > form {
		@extend .blob;

		// Update rulebook form text area.
		& > p > textarea {
			height: 20lh;
		}
	}

	@include mixins.is-not-mobile using ($is-not-mobile) {
		@if $is-not-mobile {
			display: grid;
			grid-template-columns: 1fr min(65ch, 100%) 1fr;

			// All elements.
			& > * {
				grid-column: 2;
				overflow: auto hidden;
			}

			// Images.
			& > p > img {
				display: block;
				margin: auto;
			}
		}
	}
}
