article.content {
	display: grid;
	grid-template-columns: 1fr min(65ch, 100%) 1fr;
	font-size: 1.2em;

	& > * {
		grid-column: 2 / 3;
		overflow: auto hidden;
	}

	& > hr {
		width: 100%;
	}

	& > pre,
	& > img,
	& > iframe {
		grid-column: 1 / 4;
		width: 100%;
		max-width: min(80ch, 100%);
		margin: 0px auto;
	}
}
