@use "../../../../styles/blob.module.scss";
@use "../../../../styles/clean-list.module.scss";

ol.widgets {
	@extend .clean-list;

	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(400px, max-content));

	// Player widget.
	& > form {
		@extend .blob;
	}
}
