@use "../../../styles/mixins";
@use "../../../styles/clean-list.module.scss";
@use "../../../styles/blob.module.scss";
@use "../../layout.module.scss" as layout;

// Match page.
div.content {
	// Columns.
	& > div {
		@extend .list;
		height: calc(100vh - layout.$top - layout.$margin * 2);
		overflow: auto;

		// Team columns.
		&.team {
			display: none;
		}

		// Player and game lists.
		& > ul,
		& > ol {
			@extend .clean-list;
			@extend .blob-section;
		}

		// Admin panel.
		& > div {
			@extend .blob-section;

			// Admin panel form.
			& > form {
				@extend .blob;
			}
		}
	}

	@include mixins.gt-wide using ($gt-wide) {
		@if $gt-wide {
			display: grid;
			grid-template-columns: 2fr 3fr 2fr;
			gap: 10px;

			// Team columns.
			& > div.team {
				display: block;
			}
		}
	}
}
