@use "../../../styles/mixins";
@use "../../../styles/clean-list.module.scss";
@use "../../../styles/blob.module.scss";
@use "../../../styles/sticky-column.module.scss";

// Match page.
div.content {
	// Columns
	& > div {
		@extend .list;

		// Team columns.
		&.team {
			@extend .sticky-column;
			display: none;
		}

		// Player and game lists.
		& > ul,
		& > ol {
			@extend .clean-list;
			@extend .blob-section;
		}

		// Admin panel.
		& > div {
			@extend .blob-section;

			// Admin panel form.
			& > form {
				@extend .blob;
			}
		}
	}

	@include mixins.is-not-mobile using ($is-not-mobile) {
		@if $is-not-mobile {
			display: grid;
			grid-template-columns: 2fr 3fr 2fr;
			gap: 10px;

			// Team columns.
			& > div.team {
				display: block;
			}
		}
	}
}
