@use "../../../styles/mixins";
@use "../../../styles/clean-list.module.scss";
@use "../../../styles/blob.module.scss";

// Game page.
div.content {
	// Columns.
	& > div {
		@extend .list;

		// Captain and admin panels.
		& > div.panel {
			@extend .blob-section;

			// Captain panel form.
			& > form {
				@extend .blob;
			}
		}
	}

	@include mixins.gt-wide using ($gt-wide) {
		@if $gt-wide {
			display: grid;
			grid-template-columns: 2fr 3fr 2fr;
			gap: 10px;
		}
	}
}
