// Standard mobile breakpoint; the width of an iPad in the portrait orientation.
$mobile-breakpoint: 768px;

// Color palette.
$black: #050505; // Dark background.
$cod-gray: #0e0e0e; // Medium background.
$light-cod-gray: #111111; // Alternative medium background (header and footer color).
$eerie-black: #262626; // Light background.
$quick-silver: #9a9a9a; // Highlight color (borders).
$dark-eerie-black: #1a1a1a; // Alternative highlight color.
$anzac: #e5b451; // Theme color.
$white: #ffffff; // Text color.

// Sass variables for CSS variables.
$font-title: var(--font-title);
$font-body: var(--font-body);
$bg-color: var(--bg-color);
$mg-color: var(--mg-color);
$mg2-color: var(--mg2-color);
$fg-color: var(--fg-color);
$hl-color: var(--hl-color);
$hl2-color: var(--hl2-color);
$theme-color: var(--theme-color);
$text-color: var(--text-color);
