@use "variables";
@use "mixins";

// Elements that should display as a block with the foreground color and rounded edges.
.blob {
	display: block;
	background-color: variables.$fg-color;
	border-radius: 25px;
	padding: 5px;

	// Use more padding on desktop devices.
	@include mixins.gt-mobile using ($gt-mobile) {
		@if $gt-mobile {
			padding: 16px;
		}
	}
}

// Elements that contain a vertical list of elements.
.list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

// For form blobs, use a special flexbox layout.
form.blob {
	@extend .blob;

	// List form elements vertically.
	@extend .list;

	// Reduce the list gap from the list default.
	gap: 5px;

	// Remove margins from form content.
	* {
		margin: 0px;
	}

	// Create a grid with labels on the left and input elements on the right.
	& > p > label {
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 5px;

		// Position labels on the left and float them towards the center.
		text-align: right;

		// Position input elements on the right.
		& > input,
		& > select,
		& > textarea {
			// Add back the default padding on input elements that was removed above.
			padding: revert;
		}
	}

	// Allow unlabeled input elements to span the entire form width.
	& > p > input,
	& > p > select,
	& > p > textarea {
		width: 100%;
	}
}

// Elements that should contain blobs. Are themselves blobs, but with a toned-down color.
.blob-section {
	@extend .blob;

	// List blobs vertically.
	@extend .list;

	// Apply a darker background color to differentiate from the blobs this section contains.
	background-color: variables.$mg-color;

	// Make header and footer content take up less space.
	& > header *,
	& > footer * {
		margin: 0px;
	}
}
