@use "variables";

:root {
	font-family: variables.$font-body;
	color: variables.$text-color;
	background-color: variables.$bg-color;

	// Theme colors. Set up with CSS variables to support the addition of a light theme later on.
	--font-body: Arial, sans-serif;
	--font-title: "Berlin Sans FB Demi", sans-serif; // Berlin Sans FB Demi Bold is available by default only on Windows.
	--bg-color: #{variables.$black-russian};
	--fg-color: #{variables.$pixie-powder};
	--text-color: #{variables.$white};
	--italic-color: #{variables.$orange};
	--bold-color: #{variables.$bright-sun};
}

a,
hr {
	color: variables.$bold-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: variables.$bold-color;
	font-family: variables.$font-title;
	text-align: center;
}

body {
	margin: 0px;
}

main {
	margin: variables.$normal-gap;
}

form {
	background-color: variables.$fg-color;
	padding: variables.$normal-pad;
	border-radius: variables.$normal-radius;
}
