@use "../../../styles/mixins";
@use "../../../styles/clean-list.module.scss";
@use "../../../styles/blob.module.scss";
@use "../../../styles/sticky-column.module.scss";

div.content {
	// Admin panel.
	& > div.info > div {
		@extend .blob-section;
		display: none;

		// Admin form.
		& > form {
			@extend .blob;
		}
	}

	// Schedule column.
	& > div.schedule {
		@extend .list;

		// Round list.
		& > ol {
			@extend .clean-list;
			@extend .list;

			// Round.
			& > li {
				@extend .blob-section;

				// Match list.
				& > ol {
					@extend .clean-list;
					@extend .list;
				}
			}
		}
	}

	// Leaderboards column.
	& > div.leaderboards {
		display: none;
	}

	// Information and leaderboards columns.
	& > div.info,
	& > div.leaderboards {
		@extend .sticky-column;
	}

	@include mixins.is-not-mobile using ($is-not-mobile) {
		@if $is-not-mobile {
			display: grid;
			grid-template-columns: 1fr 2fr 1fr;
			gap: 10px;

			// Admin panel.
			& > div.info > div {
				display: flex;
			}

			// Leaderboards column.
			& > div.leaderboards {
				display: block;
			}

			// Leaderboards.
			& > div.leaderboards > ol {
				font-size: 1.5em;
				text-wrap: nowrap;
				overflow: auto;
			}
		}
	}
}
