@use "../../../styles/variables";
@use "../../../styles/mixins";

div.content {
	@include mixins.is-not-mobile using ($is-not-mobile) {
		@if $is-not-mobile {
			display: grid;
			grid-template-columns: 1fr 2fr 1fr;
			gap: 10px;

			& > div.config {
				grid-column: 1 / 2;

				// Don't scroll with screen.
				align-self: start;
				position: sticky;
				top: 0px;

				// Ensure that all content can still be accessed.
				overflow: auto;
				max-height: 100vh;
			}

			& > div.schedule {
				grid-column: 2 / 3;
			}

			& > div.leaderboards {
				grid-column: 3 / 4;

				// Don't scroll with screen.
				align-self: start;
				position: sticky;
				top: 0px;

				// Ensure that all content can still be accessed.
				overflow: auto;
				max-height: 100vh;
			}
		}
	}
}
