@use "../styles/variables";

$margin: 8px;

// Base layout.
body.spacer {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0px;

	// Header.
	& > header {
		position: sticky;
		top: 0px;
		background-color: variables.$mg2-color;
	}

	// Main content.
	& > main {
		margin: $margin;
	}

	// Footer.
	& > footer {
		margin-top: auto;
		background-color: variables.$mg2-color;
	}
}
