@use "../styles/variables";

body.spacer {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: flex-start;

	& > header {
		position: sticky;
		top: 0px;
	}

	& > footer {
		margin-top: auto;
		background-color: variables.$fg-color;
	}
}
