@use "../styles/mixins";
@use "../styles/variables";
@use "../styles/clean-list.module.scss";

// Landing page.
article.content {
	font-size: 1.2em;

	// Introduction video or live stream.
	& > iframe {
		width: 100%;
	}

	// Social links section.
	& > ul {
		@extend .clean-list;

		display: flex;
		justify-content: space-around;

		// Social link.
		& > a {
			color: variables.$text-color;
			background-color: variables.$fg-color;
			border: 1px solid variables.$text-color;
			border-radius: 10px;
			padding: 10px;
			text-decoration: none;

			// Social link hover.
			&:hover {
				color: variables.$fg-color;
				background-color: variables.$text-color;
				border: 1px solid variables.$fg-color;
			}

			// Social link icon.
			& > svg {
				padding: 4px;
				vertical-align: middle;
			}
		}
	}

	@include mixins.gt-mobile using ($gt-mobile) {
		@if $gt-mobile {
			display: grid;
			$column-max: 65ch;
			grid-template-columns: 1fr min($column-max, 100%) 1fr;

			// Landing page content.
			& > * {
				grid-column: 2;
				overflow: auto hidden;
			}

			// Introduction video or live stream.
			& > iframe {
				grid-column: 1 / 4;
				margin: 10px auto;
				width: max($column-max, 60%);
			}
		}
	}
}
