@use "card.module.scss";

// Account card.
a.account-card {
	@extend .card;
	font-size: 1.5em;
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 10px;
	align-items: center;

	// Ranked emblem.
	& > img {
		width: auto;
		height: 100%;
		justify-self: end;
	}

	// Account details.
	& > div {
		justify-self: start;
	}
}
