@use "../../styles/variables";
@use "../../styles/blob.module.scss";

// Card.
.card {
	@extend .blob;
	color: variables.$text-color;
	text-decoration: none;
	aspect-ratio: 5 / 1;
	overflow: hidden;
	font-size: 2em;

	// Card items.
	* {
		margin: 0px;
		padding: 0px;
		overflow: hidden;
	}
}
