@use "card.module.scss";

// Unfinished game card.
a.not-done {
	@extend .card;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

// Finished game card.
a.done {
	@extend .card;
	font-size: 1.5em;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-auto-flow: column;
	place-items: center;

	// Player row.
	& > div {
		width: 100%;
		height: 100%;
		display: flex;
		gap: 10px;

		// Champion icon.
		& > img {
			height: 100%;
			width: auto;
		}
	}
}
