@use "card.module.scss";

// Incomplete or forfeited game card.
a.simple {
	@extend .card;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

// Player match history game result card.
a.single {
	@extend .card;
	display: flex;
	align-items: flex-start;
	gap: 5px;

	& > div.info > * {
		text-align: left;
	}

	& > div.items {
		display: grid;
		grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
		gap: 2px;
	}

	& > div.spells {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2px;
	}
}

// Normal game result card.
a.complex {
	@extend .card;
	font-size: 1.5em;
	display: grid;
	grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr;
	grid-auto-flow: column;
	place-items: center;

	// Player row.
	& > div {
		width: 100%;
		height: 100%;
		display: flex;
		gap: 10px;

		// Champion icon.
		& > img {
			height: 100%;
			width: auto;
		}
	}
}
