@use "../../styles/variables";

a.container {
	// Replace default link styling.
	color: variables.$text-color;
	text-decoration: none;

	// Make prettier to display.
	font-size: 1.5em;
	overflow: hidden;
	display: inline-grid;
	grid-template-columns: 2fr 2fr 1fr 2fr 2fr;
	gap: variables.$normal-gap;

	// Shape.
	aspect-ratio: 5 / 1;
	width: min(600px, calc(100% - variables.$normal-pad * 2));
	border-radius: variables.$normal-radius;
	padding: variables.$normal-pad;
	place-items: center;

	// Background.
	background-color: variables.$fg-color;

	& > * {
		margin: 0px;
	}

	& > .blue {
		justify-self: end;
	}

	& > .red {
		justify-self: start;
	}

	& > img {
		display: inline-block;
		width: auto;
		max-width: 100%; // Column sizing doesn't work without this.
		height: 80%;
	}
}
