@use "card.module.scss";
@use "../../styles/mixins";

// Match card.
a.match-card {
	@extend .card;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
	column-gap: 10px;
	place-items: center;

	// Format and date strings.
	& > p {
		display: none;
	}

	@include mixins.gt-mobile using ($gt-mobile) {
		@if $gt-mobile {
			$fd-size: 1rem;
			grid-template-rows: $fd-size 1fr $fd-size;
			row-gap: 2px;

			// Format and date strings.
			& > p {
				display: block;
				grid-column: 1 / 6;
				font-size: $fd-size;
			}
		}
	}

	// Team logos.
	& > img {
		width: auto;
		height: 100%;
	}
}
