@use "card.module.scss";
@use "../../styles/blob.module.scss";

// Player card.
a.player-card {
	@extend .card;
	background-size: cover;

	// Player card content.
	& > div {
		@extend .blob;
		display: inline-block;
		background-color: #00000080;

		// Ranked emblem.
		& > h3 > img {
			display: inline-block;
			vertical-align: top;
			width: auto;
			height: 1.5em;
			padding-left: 16px;
		}
	}
}
