@use "card.module.scss";

// Team card.
a.team-card {
	@extend .card;
	font-size: 1.5em;
	text-wrap: nowrap;
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 10px;
	place-items: center;

	// Team logo.
	& > img {
		height: 100%;
		width: auto;
		justify-self: end;
	}

	// Team details.
	& > div {
		justify-self: start;
	}
}
