@use "card.module.scss";

a.team-card {
	@extend .card;

	// Create columns for the team logo and details.
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 10px;
	align-items: center;

	// Ensure that the team logo is sized properly.
	& > img {
		max-width: 100%;
		max-height: 80%;

		// Maintain the logo's aspect ratio.
		width: auto;
		height: auto;

		// Align the logo towards the center (to the right).
		justify-self: end;
	}

	// Align the team details towards the center (to the left).
	& > div {
		justify-self: start;
	}
}
