@use "../../styles/variables";
@use "../../styles/mixins";

$height: 80px;

nav.topnav {
	// Fixed-size bar.
	height: $height;

	// Make text bigger within the navigation bar.
	font-size: 1.5em;

	// Elements are stored in an unordered list.
	& > ul {
		// Remove default unordered list styling.
		margin: 0px;
		padding: 0px;
		list-style-type: none;

		// Take up the entire height of the navigation bar.
		height: 100%;

		// List elements using flexbox.
		display: flex;

		// List items take up entire height due to flexbox stretch.
		& > li {
			// Remove default list item styling.
			display: block;

			// Take up the entire height of the navigation bar.
			height: 100%;

			// Highlight list items on hover.
			&:hover {
				background-color: variables.$fg-color;
			}

			// Uniform padding for children.
			$padding: 0px 16px;

			& > * {
				// Ensure that all children take up the entire height of the navigation bar.
				height: 100%;

				// Apply horizontal padding to all children.
				padding: $padding;

				// Center content vertically within children.
				display: flex;
				align-items: center;
			}

			// Allow some elements to be right-aligned.
			&.right {
				margin-left: auto;
			}

			// Remove element-specific styling from anchors.
			& > a {
				text-decoration: none;
				color: variables.$text-color;

				// Apply a size to SVG elements (the logo).
				& > svg {
					height: 80%;
				}
			}

			// For forms (the ones that contain the sign in and sign out buttons), ensure that the submit button takes up the entire form.
			& > form {
				// Remove the padding so that it can be applied to the submit button instead.
				padding: 0px;

				& > input[type="submit"] {
					// Ensure that the submit button takes up the entire height of the navigation bar.
					height: 100%;

					// Apply the padding to the submit button instead.
					padding: $padding;

					// Remove element-specific styling from submit buttons.
					border: none;
					background-color: inherit;
					cursor: pointer;
				}
			}
		}
	}
}
