@use "../../../styles/mixins";
@use "../../../styles/clean-list.module.scss";
@use "../../../styles/blob.module.scss";

// Season page.
div.content {
	@extend .list;

	// Background image.
	& > img {
		position: absolute;
		z-index: -1;
		max-width: 100%;
		max-height: 100%;
		width: auto;
		height: auto;
		left: 50%;
		transform: translate(-50%);
		mask:
			linear-gradient(to bottom, transparent, white, transparent 80%) intersect,
			linear-gradient(to right, transparent 5%, white, transparent 95%);
	}

	// Header.
	& > header {
		text-align: center;
	}

	// Main content.
	& > div {
		display: grid;
		gap: 10px;
		align-items: start;
		overflow: hidden;

		// Left column and right column.
		& > div.left,
		& > div.right {
			@extend .list;

			// Column sections.
			& > div {
				@extend .blob-section;

				// Account and game lists.
				& > ol,
				& > ul {
					@extend .clean-list;
					@extend .list;
				}

				// Admin and player panels.
				&.panel {
					display: none;
				}

				// Admin and player panel and update accounts forms.
				& > form {
					@extend .blob;
				}
			}
		}

		@include mixins.is-not-mobile using ($is-not-mobile) {
			@if $is-not-mobile {
				grid-template-columns: 1fr 2fr;

				// Admin and player panels.
				& > div.left > div.panel {
					display: flex;
				}
			}
		}
	}
}
